/* base */
* {
    box-sizing: border-box;
}
body{
    font-family: "Bruno Ace SC", sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: black;
}

/* utility */
.container{
    max-width: 1296px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.w-50{
    width: 50%;
}
.bg-black {
    background-color: black;
}
.color-white {
    color: #FFFFFF;
}
.color-green {
    color: #00FFA3;
}
.font-s {
    font-size: 20px;
}
.font-m {
    font-size: 24px;
}
.font-l {
    font-size: 64px;
}
.font-xl {
    font-size: 128px;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.pt-160 {
    padding-top: 160px;
}
.pt-96 {
    padding-top: 96px;
}
.pt-72 {
    padding-top: 72px;
}
.pt-40 {
    padding-top: 40px;
}
.pb-160 {
    padding-bottom: 160px;
}
.pb-96 {
    padding-bottom: 96px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-32 {
    padding-bottom: 32px;
}
.ml-auto{
    margin-left: auto;
}
.ml-4 {
    margin-left: 4px;
}
.mr-16 {
    margin-right: 16px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-24 {
    margin-right: 24px;
}
.mb-28 {
    margin-bottom: 28px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-4 {
    margin-bottom: 4px;
}

/* customize */
.menu a{
    color: #D1D1D1;
}
.button {
    background: #FFFFFF;
    padding: 12px 24px 12px 24px;
    border-radius: 32px;
}
.button-black {
    background: #000000;
    padding: 12px 24px 12px 24px;
    border-radius: 32px;
}
.intro-bg {
    background-image: url("../images/background-img.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.intro-text {
    max-width: 526px;
}
.intro-img {
    max-width: 746px;
}
.about-cards {
    max-width: 636px;
}
.about-cards ol{
    gap: 24px;
}
.about-cards li {
    max-width: 306px;
    padding: 16px;
    border: solid 1px #E3E3E3;
    box-shadow: 4px 4px 4px 0px #00000014;
}
.about-text {
    max-width: 526px;
}
.contact-bg {
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.contact-img{
    object-fit: cover;
    width: 162px;
    height: 162px;
    border-radius: 40px;
}
.contact-img:hover{
    box-shadow: 0px 0px 16px 3px #9094FFE5;
    transition: 1s;
}
.project-title {
    max-width: 746px;
}
